<template name="object__power">
  <div class="{{class}}" id="{{id}}" data-id="{{_id}}" style="top: {{top}}px; left: {{left}}px">
    <h1>{{name}}</h1>
  </div>
</template>

<template name="object__ground">
  <div class="{{class}}" id="{{id}}" data-id="{{_id}}" style="top: {{top}}px; left: {{left}}px">
    <h1>{{name}}</h1>
  </div>
</template>

<template name="object__pwm_input">
  <div class="{{class}}" id="{{id}}" data-id="{{_id}}" style="top: {{top}}px; left: {{left}}px">
    <h1>{{name}}</h1>
    <form>
      <label>R:</label>
      <input type="text" id="input-r" value="{{r}}">
      <label>G:</label>
      <input type="text" id="input-g" value="{{g}}">
      <label>B:</label>
      <input type="text" id="input-b" value="{{b}}">
      <!--
      // TODO Update R,G,B collections (viewmodel or event)
      -->
      <input type="submit" data-bind="click: updateRGB">
    </form>
  </div>
</template>

<template name="object__pwm_output">
  <div class="{{class}}" id="{{id}}" data-id="{{_id}}" style="top: {{top}}px; left: {{left}}px">
    <h1>{{name}}</h1>
  </div>
</template>

<template name="object__rgb_led">
  <div class="{{class}}" id="{{id}}" data-id="{{_id}}" style="top: {{top}}px; left: {{left}}px">
    <h1>{{name}}</h1>
  </div>
</template>

<template name="object__rgb_sensor">
  <div class="{{class}}" id="{{id}}" data-id="{{_id}}" style="top: {{top}}px; left: {{left}}px">
    <h1>{{name}}</h1>
  </div>
</template>

<template name="object__rgb_output">
  <div class="{{class}}" id="{{id}}" data-id="{{_id}}" style="top: {{top}}px; left: {{left}}px">
    <h1>{{name}}</h1>
  </div>
</template>
