<template name="object__power">
  <div class="{{class}}" id="{{id}}" style="top: {{top}}px; left: {{left}}px">
    <strong>{{name}}</strong><br/><br/>
  </div>
</template>

<template name="object__ground">
  <div class="{{class}}" id="{{id}}" style="top: {{top}}px; left: {{left}}px">
    <strong>{{name}}</strong><br/><br/>
  </div>
</template>

<template name="object__pwm_input">
  <div class="{{class}}" id="{{id}}" style="top: {{top}}px; left: {{left}}px">
    <strong>{{name}}</strong><br/><br/>
  </div>
</template>

<template name="object__rgb_led">
  <div class="{{class}}" id="{{id}}" style="top: {{top}}px; left: {{left}}px">
    <strong>{{name}}</strong><br/><br/>
  </div>
</template>

<template name="object__rgb_sensor">
  <div class="{{class}}" id="{{id}}" style="top: {{top}}px; left: {{left}}px">
    <strong>{{name}}</strong><br/><br/>
  </div>
</template>

<template name="object__rgb_output">
  <div class="{{class}}" id="{{id}}" style="top: {{top}}px; left: {{left}}px">
    <strong>{{name}}</strong><br/><br/>
  </div>
</template>

<template name="object__pwm_output">
  <div class="{{class}}" id="{{id}}" style="top: {{top}}px; left: {{left}}px">
    <strong>{{name}}</strong><br/><br/>
  </div>
</template>
