<template name="index">
  <div id="index__container">
    <h1>Index</h1>
    <p>Here you can find the available workspaces and the existing rooms for them. Feel free to create a new room if you woud like to work by yourself or with others.</p>
    <h2>Start a new room</h2>
    <label for="workspace__form-name">Name:</label>
    <input type="text" id="workspace__form-name" data-bind="value: name">
    <label for="workspace__form-workspace">Workspace:</label>
    <select name="workspace__form-workspace" id="workspace__form-workspace" data-bind="value: selectedWorkspace">
      {{#each workspaces}}
      <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>
    <button class="workspace__form-start action primary" data-bind="enabled: hasName, click: startRoom">Start</button>

    <h2>Workspaces</h2>
    {{#each workspaces}}
      <div id="workspace__workspace">
        <h3>{{name}}</h3>
        <p>{{description}}</p>

        <h4>Current rooms</h4>
        {{#each _roomsData _id}}
          {{> workspace__room}}
        {{/each}}
      </div>
    {{/each}}
  </div>
</template>
