<template name="index">
  <div id="index__container">
    <h1> Index</h1>
    <p>Welcome to fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
    <h2>Start a new room</h2>
    <label for="workspace__form-name">Name:</label>
    <input type="text" id="workspace__form-name" data-bind="value: name">
    <label for="workspace__form-workspace">Workspace:</label>
    <select name="workspace__form-workspace" id="workspace__form-workspace" data-bind="value: selectedWorkspace">
      {{#each workspaces}}
      <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>
    <button class="workspace__form-start action primary" data-bind="enabled: hasName, click: startRoom">Start</button>

    <h2>Workspaces</h2>
    {{#each workspaces}}
      <div id="workspace__workspace">
        <h3>{{name}}</h3>
        <p>{{description}}</p>

        <h4>Current rooms</h4>
        {{#each rooms}}
          {{> workspace__room}}
        {{/each}}
      </div>
    {{/each}}
  </div>
</template>
