<template name="canvas">
    <!-- TODO Draw the rooms then connect in .rendered -->
  <div class="canvas">
    <div class="demo flowchart-demo" id="flowchart-demo">
      {{> object__power objectInstancePower}}
      {{> object__ground objectInstanceGround}}
      {{> object__pwm_input objectInstancePWMInput}}
      {{> object__rgb_led objectInstanceRGBLED}}
      {{> object__rgb_sensor objectInstanceRGBSensor}}
      {{> object__rgb_output objectInstanceRGBOutput}}
      {{> object__pwm_output objectInstancePWMOutput}}
    </div>
  </div>
</template>
