<template name="chat">
  <div id="room__chat">
    <div>
      <h3>Users</h3>
      <ul id="chat__users">
        {{#each room._users}}
          <li>{{findUsername this}}</li>
        {{/each}}
      </ul>
    </div>
    <hr>
    <div>
      <h3>Messages</h3>
      {{#each messages}}
        {{> chat__message}}
      {{/each}}
    </div>
    <hr>
    <div id="chat__form">
      <form>
        <input type="text" id="room__chat__message">
        <input type="submit" class="action primary">
      </form>
    </div>
  </div>
</template>

<template name="chat__message">
  <div class="room__chat__message">
    <strong>{{username}}:</strong> {{message}}
  </div>
</template>
