<template name="room__items">
  <div id="room__items">
    <div>
      <h3>Task</h3>
      <p>Find the needed PWM values to cause the target colour to be shown on the RGB LED. You'll need to understand how red, green, and blue are used to create specific colours. Your target colour is:</p>
      <div id="items__target_colour">
      </div>
      <hr>
      <h3>Objects</h3>
      {{!--
      {{#each objects}}
        {{> room__items__object}}
      {{/each}}
      --}}
      <p>All objects in use.</p>
    </div>
    <hr>
    <div>
      <h3>Data sources</h3>
      {{!--
      {{#each dataSources}}
        {{name}}
      {{/each}}
      --}}
      <p>All data sources in use.</p>
    </div>
  </div>
</template>

<template name="room__items__object">
  <div>
    {{name}}
  </div>
</template>
